/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url('https://fonts.googleapis.com/css?family=Signika:400light,700light');

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

// fonts
$font-family-sans-serif: Lato, sans-serif !default;

//$font-family-sans-serif: "Open Sans", sans-serif !default;

$blue:        #5BAFF8 !default;
$dark-blue:   #3070BF !default;
$pink:        #EF85B3 !default;
$pink2:       #BF396F !default;
$orange:      #E75B5C !default;
$red:         #C83532 !default;
$purple:      #8043F3 !default;
$purple2:     #9F71F7 !default;
$slate-grey:  #6C757D !default;
$green:       #367B79 !default;
$green2:      #459B99 !default;
$ivory:       #FDF3F2 !default;


// colors
$body-bg: #fff !default;
$body-color: #000 !default;
$link-color: $orange !default;
$selection-bg: rgba(0, 0, 0, 0.99);

// headings
$presentation-heading-font: Signika, sans-serif !default;
$presentation-heading-color: $dark-blue !default;

code.sourceCode {
  font-size: 1.7em;
  // or try font-size: xx-large; 
}


div.cell-output-stdout {
  font-size: 1.5em;
}


// My added divs

// COMMON USES

// Definitions 
.definition{
  margin: 1em 0;
  border: 3px solid $blue;
  border-radius: 10px;
}
.def-ttl {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: $blue;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}
.def-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

// Example
.example{
  border-radius: 10px;
  margin: 1em 0;
  border: 3px solid $purple;
}

.ex-ttl {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: $purple;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}

.ex-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}


// JUST NAMED BY COLOR

// blue
.blue{
  margin: 1em 0;
  border: 3px solid $blue;
  border-radius: 10px;
}
.blue-ttl {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: $blue;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}
.blue-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

// blue2
.blue2{
  margin: 1em 0;
  border: 3px solid $dark-blue;
  border-radius: 10px;
}
.blue2-ttl {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: $dark-blue;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}
.blue2-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}


// pink
.pink{
  margin: 1em 0;
  border: 3px solid $pink;
  border-radius: 10px;
}
.pink-ttl {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: $pink;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}
.pink-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

// pink2
.pink2{
  margin: 1em 0;
  border: 3px solid $pink2;
  border-radius: 10px;
}
.pink2-ttl {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: $pink2;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}
.pink2-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

// orange
.orange{
  margin: 1em 0;
  border: 3px solid $orange;
  border-radius: 10px;
}
.orange-ttl {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: $orange;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}
.orange-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}


// red
.red{
  margin: 1em 0;
  border: 3px solid $red;
  border-radius: 10px;
}
.red-ttl {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: $red;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}
.red-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

// purple
.purple{
  margin: 1em 0;
  border: 3px solid $purple;
  border-radius: 10px;
}
.purple-ttl {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: $purple;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}
.purple-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

// purple2
.purple2{
  margin: 1em 0;
  border: 3px solid $purple2;
  border-radius: 10px;
}
.purple2-ttl {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: $purple2;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}
.purple2-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

// green
.green{
  margin: 1em 0;
  border: 3px solid $green;
  border-radius: 10px;
}
.green-ttl {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: $green;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}
.green-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

// green2
.green2{
  margin: 1em 0;
  border: 3px solid $green2;
  border-radius: 10px;
}
.green2-ttl {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: $green2;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}
.green2-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}